@use "vars";

.work {
  background-color: vars.$Bg-Grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
  .work__title {
    font-weight: 700;
    font-size: 2em;
    width: 200px;
    display: inline-block;
    text-align: center;
    color: vars.$Black;
    text-transform: uppercase;
    border-bottom: 2px solid vars.$Black;
    margin: 24px 0;
    padding: 8px 0;
  }
  .work__projects {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @media (min-width: 1440px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
